{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <fieldset class="fieldset">
        <legend> <h1>Ville</h1></legend>

        <table class="table">
            <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ ville.nom }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ ville.codePostal }}</td>
            </tr>
            </tbody>
        </table>
        <br>

        {{ include('ville/_delete_form.html.twig') }}
    </fieldset>
<br>
    <a href="{{ path('app_ville_index') }}" class="btn">Retour a la liste</a>




{% endblock %}